#body
{
    max-width: auto;
    margin-left: auto;
    margin-right: auto;
    background-color: green;
    color: red;
}
#upper
{
    clear: both;
    margin: 10px;
}
#footer
{
    clear: both;
    margin: 10px;
}
#main
{
    clear: both;
    margin-left: 10px;
    margin-right: 10px;
}
h1
{
    color: #001aff;
    text-size-adjust: 20px;
    font-family: Courier;
    text-align: center;
    border: dashed;
    border-color: darkred;
    border-width: 2px;
}